<h2>Iniciar Sesion</h2>
<% IF err %><p class=error><strong>Error:</strong> <% err %><% END %>
<form action="<% login_url %>" method=post>
  <dl>
    <dt>Usuario:
    <dd><input type=text name=username>
    <dt>Contraseña:
    <dd><input type=password name=password>
    <dd><input type=submit value=Iniciar sesion
  </dl>
</form>
